<div class="rooms">
  <h3>Rooms</h3>
  <ul>
    {{ range where .Data.Pages "Section" "rooms" }}
      <li>
         <span>{{ .Title }} - ${{ .Params.price }}</span>
      </li>
    {{ end }}
  </ul>
</div>