<div class="suites">
  <h3>Suites</h3>
  <ul>
    {{ range where .Data.Pages "Section" "suites" }}
      <li>
         <span>{{ .Title }} - ${{ .Params.price }}</span>
      </li>
    {{ end }}
  </ul>
</div>